---
layout: page
tagline:
---

<!-- 
{% for post in paginator.posts %}

  <h2>
    <a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
  </h2>
{% endfor %}
 -->
 
<div id="content" class="index">
	<div id="main"><ul class="posts">
	
	{% for post in paginator.posts %}
		
		<li>
			<span class="date" cate="essay">{{ post.date | date: "%Y-%02m-%02d" }}</span>
			{% if post.categories.size > 0 %}
				<span class="category">{{ post.categories }}</span>
			{% endif %}
			<a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
		</li>
		
	{% endfor %}

		
<ul></div>
</div>


<!-- <hr> -->
<div align="center" class="pager-footer">
	{% if paginator.previous_page %}
    	{% if paginator.previous_page == 1 %}
    		<a class="pager" href="{{ site.BASE_PATH }}/">上一页</a>
		{% else %}
    		<a class="pager" href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}">上一页</a>
		{% endif %}
	{% else %}
    	<a class="pagernone">上一页</a>
  	{% endif %}
  
    <span class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</span>

  	{% if paginator.next_page %}
    	<a class="pager" href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.next_page }}">下一页</a>
	{% else %}
   	 	<a class="pagernone">下一页</a>        
  	{% endif %}
  
</div>
